/* LAYOUTS DEFAULT*/
body, textarea, input, select, option, button {
  color: #333;
  font-family: Calibri,Lucida Grande,Helvetica Neue,Helvetica,Arial,sans-serif;
  /*font:"Lucida Grande",Lucida,helvetica,Arial,verdana,sans-serif*/
  background-color:#fff;
  font-size:14px;
}
body{
  background-color:#fff;
  
}

h1{
  padding:30px 10px 10px 0px;
  margin:0px;  
  font-size:350%;  
  color:#777;  
}

h2{
  padding:0px;
	padding-top:2px;
  margin:0px;
	font-size:170%;
	color:#555;
}

h3{
  padding:0px;
  margin:0px;
  margin-bottom:20px;
	font-size:120%;
	color:#aaa;
  width:400px;
}


img{
	vertical-align:middle;
}

p{
  margin-bottom:4px;
  clear:both;
}

p.error{
  display:block;
  float:none;
}
/* FIM LAYOUTS DEFAULT*/

/* CORES */
.cinza0{
	background-color: #333;
}

.cinza1{
	background-color: #555;
}
.cinza2{
	background-color: #999;
}
.cinza3{
	background-color: #bbb;
}
.cinza4{
	background-color: #eee;
}

.laranja{
	background-color: #ff7700;
}

.laranjaGradient{
	background-image: url(../images/bg_menu.gif);
	background-repeat: repeat-x;
}

.laranjaClaroGradient{
	background-image: url(../images/bg_submenu.gif);
	background-repeat: repeat-x;
}

.laranjaClaroGradient{
	background-color: #ffbb80;
	border-bottom: 1px solid #fff;
}

.laranjaEscuro{
  background-color:#995500;
}

.cinzaGradient{
	background-image: url(../images/bg_container.png);
	background-repeat: repeat-x;
}

.border-bottom-cinza{
	border-bottom:2px solid #ccc;
}

.border-bottom-laranja{
	border-bottom:1px solid #ff9933;
}

.border-top-black{
	border-top:1px solid #111;
}

.white-30{
    background-image:url(../images/white30.png); 
}

.white-70{
  background-image:url(../images/white70.png); 
}

.white{
  background-color:#fff;
}

.black-30{
  background-image:url(../images/black30.png); 
}
/* FIM CORES */

/* CONTAINERS */
.side{
	/*background-image: url(../images/bg_side.png);
  background-repeat: no-repeat;*/
	min-height: 440px;
	_height:440px;
}

/* FIM CONTAINERS */

/* BOX */
.padding-10{
	padding:10px;
}

.padding-4{
	padding:4px;
}

.margin-4{
  margin:4px;
}

.absolute{
	position: absolute;
}

.relative{
	position: relative;
}

.text-right{
  text-align:right;
}

.boxItem{    
  background-color:#eee;
  -moz-box-shadow: 0px 2px 4px #333;
  -webkit-box-shadow: 0px 2px 4px #333;
  box-shadow: 0px 2px 4px #333;
  color:#333;
  padding: 5px 10px 5px 10px;
  margin:6px;
  border-top:1px solid #fff;
  border-bottom:3px solid #ccc;
  
  behavior: url(border-radius.htc);
}

.boxItem h2{
  padding:0px;
  margin:0px;
  font-size:120%;
}

.boxItem input, .boxItem textarea, .boxItem select, .boxItem option{
  color:#333;
  background-color:#fff;
  font-size:11px;
}

.boxItem h1, .boxItem h2, .boxItem label, .boxItem label.title, .boxItem span{
  color:#333;  
}

.boxItem .title{
  font-size:90%;
}

.boxItem label{
  font-size:70%;
}
/* FIM BOX */

/*FORMS*/
select{  
}

label{
  display:block;
  padding:2px;
  font-size:11px;
  color:#666;
  font-weight:normal;
}

.title{
  font-size:14px;
  color:#555;
  font-weight:bold;
}

label.inline{
	display:inline;
}

.errorMsg{
  display:block;
}
/*FIM FORMS*/

/*LAYOUT SPECIFIC*/
#loginForm{
  top:35px;  
  right:0px;
  padding:20px;
  z-index:100;
  background-color:#fff;
  border:1px solid #ddd;
  text-align:right;  
}

#loginForm img.seta_up{
  position: absolute;  
  top:-10px;
  right:40px;
  z-index:100;
}

.helperContainer{
}

.helperContainer .helperBox{
  background-color:#fff;
  padding:10px;
  border:1px solid #ccc;
}

/*FIM LAYOUT SPECIFIC*/

/* FORM */
form label{
}

form button {
}


input,textarea{
  padding:6px;
  margin-bottom:0px;
}

fieldset{
	border:0px;
	padding:0px;
	margin:0px;
	margin-bottom:10px;
	padding:10px;
  padding-top:0px;
  border:1px dashed #ddd;
}

fieldset legend{
	color:#555;
	font-weight:normal;
  font-size:170%;
}

fieldset fieldset legend{  
  font-size: 140%;
}

fieldset hr{
	background-color:#ddd;
	border: 0px solid #ddd;
	padding:0px;
	margin:0px;
	margin-bottom:5px;
}

fieldset legend{

}
/* FIM FORM */


/* BUTTON */
button, a.button, input.button {
  /*    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;*/
  padding:6px;
  background-color: #efefef;
  color: #777;
  border:1px solid #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  -moz-box-shadow: 0px 2px 3px #333;
  -webkit-box-shadow: 0px 2px 3px #333;
  box-shadow: 0px 2px 3px #333;
}

button img, input.button img{
	vertical-align: middle;
}

button.p,a.p, input.p{
	font-size: 14px;
	padding:4px;
}

button.pp,a.pp, input.pp{
	font-size: 10px;
	padding:2px;
}

button:hover, a.button:hover, input.button:hover{
	background-color: #777;
	color: #eee;
	border:1px solid #333;
}

button.verde, a.verde, input.verde{
	background-color: #c3cd18;
	color: #445009;
	border:1px solid #f2ff1e;
}
button.verde:hover, a.verde:hover, input.verde:hover{
	background-color: #445009;
	color: #fff;
	border:1px solid #c3cd18;
}

button.vermelho, a.vermelho, input.vermelho{
	background-color: #cc3333;
	color: #445009;
	border:1px solid #ff9999;
	color:#fff;
}
button.vermelho:hover, a.vermelho:hover, input.vermelho:hover{
	background-color: #aa1111;
	color: #fff;
	border:1px solid #cc3333;
}
/* FIM BUTTON */


/*MENU*/
#menu{
	margin:0px;
	font-size: 150%;
	padding-top:5px;
}

#menu ul{
  list-style-type: none;  
	margin:0px;
}

#menu ul li{
	display:block;
	float:left;
	cursor: pointer;
	margin:4px 0px;
	padding-bottom:1px;
}
#menu ul li a{
  /*text-shadow: 0px 1px 2px #666;*/
	text-decoration: none;
	color:#333;
	padding:7px;
  padding-top:5px;
}

#menu ul li img{
  padding-right:4px;
}

#menu ul li img.seta_down{
	display: none;
	position: absolute;
	margin-left:15px;
	margin-top:-2px;
  z-index:100;
}

#menu ul li a:hover{
	background-color: #fff;
	color:#ff7700;
	/*    -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;    */
}

#menu ul .active a{
	background-color: #fff;
	color:#ff7700;
	font-weight:bold;
  -moz-box-shadow: 0px 0px 5px #555;
  -webkit-box-shadow: 0px 0px 5px #555;
  box-shadow: 0px 0px 5px #555;
	/*    -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;    */
}

#menu ul .active img.seta_down{
	display: block;
}

#subMenu{
  padding:10px;
}

#subMenu ul{
	display: none;
  list-style-type: none;  
}

#subMenu ul li{
	display: block;
	float:left
}

#subMenu ul li a{
	text-decoration: none;
	color: #fff;
	padding:6px;

}

#subMenu ul li a:hover{
	color:#ff7700;
	font-weight:bold;

/*    background-color: #ff9f4c;
color:#fff;
border:1px solid #ffbb80;*/
/*    -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;*/
}

