<div class="cinza1 padding-10">  
  <div class="container">    
    <div class="span-12">
        <%=image_tag("logo_white.png")%>
      </div>
      
      <div class="span-12 last">
        <div class="right">
          <%link_to "/sessions/destroy",:method=>:delete, :class => ("button red") do%>
          Logout
          <%end%>
        </div>
      </div>
  </div>
</div>

