<div class="cinza1 padding-10">  
  <div class="container">    
    <div class="span-12">
        <%=image_tag("logo_white.png")%>
      </div>
      
      <div class="span-12 last">
        <%unless usuario_logged.nil?%>
          <div class="right">
            <%link_to "/sessions/destroy",:method=>:delete, :class => ("button vermelho") do%>
              Logout
            <%end%>
          </div>
        <%else%>
          <div class="right">
            <%link_to "/sessions/new", :class => ("button verde") do%>
              <%= image_tag "icon_unlock.png", :class=>""%>
              Login
            <%end%>
          </div>
        <%end%>
      </div>
  </div>
</div>

