<div>  
  <div class="span-6">
  <%if controller.controller_name.casecmp("home") && usuario_logged.nil?%>
    <%=image_tag("logo_white.png")%>
  <%else%>
    <%=image_tag("logo_white_p.png")%>
  <%end%>
  </div>
  <div class="span-18 last">
    <%= render ("shared/menu")%>
  </div>
</div>
<div class="clear"></div>

