<p>
	<label>Marca: </label>
	<select name="alimento[marca_id]">
		<%=options_from_collection_for_select(@marcas, 'id', 'nome')%>
	</select> ou <button class="button pp" type="button" id="novaMarca">Crie uma nova Marca</button>
</p>