<fieldset>
  <legend>Nova Marca</legend>
<p>
  <label class="title">Nome</label>
  <input type="text" name="alimento[marca_attributes][nome]" class="span-6"/>
</p>
<p>
  <label class="title">Email</label>
  <input type="text" name="alimento[marca_attributes][email]" class="span-6"/>
</p>
<p>
  <label class="title">Site</label>
  <input type="text" name="alimento[marca_attributes][site]" class="span-6"/>
</p>
<div class="clear"></div>
<%=link_to "Cancelar", "/marcas/marca_alimento",:update=>"marcas",:method=> :post,:remote => true, :class=>"button pp vermelho" %>

