<div class="clear">
  <div class="span-8"><%=alimento_usda.nome%></div>
  <div class="span-2"><%= link_to 'Show', alimento_usda %></div>
  <div class="span-2"><%= link_to 'Edit', edit_alimento_usda_path(alimento) %></div>
  <div class="span-2"><%= link_to 'Destroy', alimento_usda, :confirm => 'Are you sure?', :method => :delete %></div>
</div>

