<div class="helperContainer">
    <input type="hidden" name="action_search" value="<%=action_form%>"/>
    Buscar alimentos: <input type="text" name="search" onKeyPress="enter_action(event,'buscar_alimento_usda',this)" class="enter_disable"/> <button type="button" onclick="buscar_alimento_usda(this)" class="button pp	">Buscar</button>
  <div id="searchResults" class="helperBox hide"></div>
</div>

