<p id="notice"><%= notice %></p>
<h1>Editar</h1>
<p>
  <b>Nome:</b>
  <%= @tipo_medida.nome %>
</p>

<%= link_to 'Edit', edit_tipo_medida_path(@tipo_medida) %> |
<%= link_to 'Back', tipo_medidas_path %>