<h1>Meus Lugares</h1>
<div class="">
	<%="Nenhum lugar cadastrado." unless @usuario.usuario_lugars.size > 0%>
	<%@usuario.usuario_lugars.each do |ul|%>
    <%=render "/lugares/lugar_form",:ul=>ul%>
	<%end%>
</div>
<div id="lugaresForm" class="clear">
</div>
<div class="clear">
		<%=link_to "/lugares/new",:update=>"lugaresForm",:method=> :get,:remote => true, :class=>"button verde p" do%>
		<%=image_tag("icon_add_house.png")%> Adicione um Lugar
		<%end%>&nbsp;

</div>