<div class="prepend-top"></div>
<div class="top_tab span-10">
  Minhas Refeições
  <div class="right"><%=@data.strftime("%d/%m/%y")%></div>
</div>
<div class="span-9 last"></div>
<div class="clear span-19 last prepend-top">
  <%@refeicoes.each do |r|%>
    <%=r%>
    <hr/>
  <%end%>
</div>
<%form_tag :action=>"list",:controller=>"refeicaos",:method=>"post" do%>
  <%=select_date(@data)%>
  <%=button_for "Enviar"%>
<%end%>