<div class="prepend-top"></div>
<div class="top_tab span-10">
  Minhas Refeições
  <div class="right"><%=@data.strftime("%d/%m/%y")%></div>
</div>
<div class="span-9 last"></div>
<div class="clear span-19 last prepend-top">
  <%=@refeicoes.size()%>
  <hr/>
</div>
<%=select_date(@data)%>