<tr class="clear">
  <td class="span-8"><%=alimento.stored(:nome)%></td>
  <td class="span-2"><%= link_to 'Importar',{:controller => "tipo_medidas",:action=>"importar", :id => alimento.stored(:id)}, :method => :post, :remote => true, :class=>"button small green" %></td>
</tr>

