<div class="helperContainer">
    <input type="hidden" name="action_search" value="<%=action_form%>"/>
    Buscar alimentos: <input type="text" name="search" onKeyPress="return enter_action(event,'buscar_alimento',this)" class="enter_disable"/> <button type="button" onclick="buscar_alimento(this)" class="button green"><%= image_tag "lupa.png", :class=>""%> Buscar</button>
	
  <table id="searchResults" class="hide"></table>
</div>

