<h1>Todos Base de dados Aliments</h1>
<div class="helperContainer">
  <table id="searchResults">
    <%@alimentos.each do |a|%>
      <%= render "/alimentos/search_editar",:alimento => a%>
    <%end%>
  </table>
</div>

