var el = $("#searchResults");
el.hide('fast',function(){
});
$(el).html("");
<%@alimentos.each do |a|%>
el.append("<%= escape_javascript( render(:partial => "/alimentos/search_editar", :locals => {:alimento => a}) ) %>");
<%end%>
$(el).append("<div class=\"clear\"></div>");
var parent = $("#searchResults").parent();
el.show('fast');
el.position({
  my: "top",
  at: "bottom",
  of: parent
});

