var el = $("#searchResults");
el.fadeOut('fast',function(){
	$(el).html("");
  <%if @alimentos.size > 0%>
  	<%@alimentos.each do |a|%>
  	el.append("<%= escape_javascript( render(:partial => "/alimentos/search_#{@action_form}", :locals => {:alimento => a}) ) %>");
  	<%end%>
    $(el).append("<div class=\"clear\"></div>");
  <%else%>
    $(el).append("<div class=\"clear\">Nenhum alimento encontrado</div>");
  <%end%>
	el.fadeIn('fast');
});

